.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

form {
  display: flex;
  justify-content: center;
}

nav span, a {
  padding: 1em 1em;
}
